# SQL Murder Mystery

## Can you find out whodunnit?

![A decorative illustration of a detective looking at an evidence board.](https://mystery.knightlab.com/174092-clue-illustration.png)

There's been a Murder in SQL City! The SQL Murder Mystery is designed to be both a self-directed lesson to learn SQL concepts and commands and a fun game for experienced SQL users to solve an intriguing crime.

## SQL sleuths start here

A crime has taken place and the detective needs your help. The detective gave you the crime scene report, but you somehow lost it. You vaguely remember that the crime was a **​murder​**that occurred sometime on ​**Jan.15, 2018​** and that it took place in ​**SQL City​**. Start by retrieving the corresponding crime scene report from the police department’s database.

### Exploring the Database Structure

Experienced SQL users can often use database queries to infer the structure of a database. But each database system has different ways of managing this information. The SQL Murder Mystery is built using SQLite. Use this SQL command to find the tables in the Murder Mystery database.

Run this query to find the names of the tables in this database.

This command is specific to SQLite. For other databases, you'll have to learn their specific syntax.

In [3]:
# Install required packages
%pip install jupysql sqlalchemy pandas --quiet

# Load SQL magic
%load_ext sql

# Connect to the database
%sql sqlite:///sql-murder-mystery.db
#%config SqlMagic.style = 'table'

Note: you may need to restart the kernel to use updated packages.
The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [4]:
%%sql
SELECT name
FROM sqlite_master

Running query in 'sqlite:///sql-murder-mystery.db'

+---------------------------------------+
|                  name                 |
+---------------------------------------+
|           crime_scene_report          |
|            drivers_license            |
|         facebook_event_checkin        |
|               interview               |
|           get_fit_now_member          |
| sqlite_autoindex_get_fit_now_member_1 |
|          get_fit_now_check_in         |
|                solution               |
|             check_solution            |
|                 income                |
+---------------------------------------+
Truncated to displaylimit of 10.


Besides knowing the table names, you need to know how each table is structured. The way this works is also dependent upon which database technology you use. Here's how you do it with SQLite.

Run this query to find the structure of the `crime_scene_report` table

Change the value of 'name' to see the structure of the other tables you learned about with the previous query.

In [5]:
%%sql
SELECT sql
FROM sqlite_master
where name = 'crime_scene_report'

Running query in 'sqlite:///sql-murder-mystery.db'

+-----------------------------------+
|                sql                |
+-----------------------------------+
| CREATE TABLE crime_scene_report ( |
|               date integer,       |
|                 type text,        |
|             description text,     |
|                 city text         |
|                   )               |
+-----------------------------------+

In [8]:
%%sql
SELECT sql
FROM sqlite_master
where name = 'drivers_license'

Running query in 'sqlite:///sql-murder-mystery.db'

+---------------------------------+
|               sql               |
+---------------------------------+
|  CREATE TABLE drivers_license ( |
|         id integer PRIMARY KEY, |
|               age integer,      |
|             height integer,     |
|             eye_color text,     |
|             hair_color text,    |
|               gender text,      |
|            plate_number text,   |
|              car_make text,     |
|              car_model text     |
|                  )              |
+---------------------------------+

In [9]:
%%sql
SELECT sql
FROM sqlite_master
where name = 'facebook_event_checkin'

Running query in 'sqlite:///sql-murder-mystery.db'

+-------------------------------------------------------+
|                          sql                          |
+-------------------------------------------------------+
|         CREATE TABLE facebook_event_checkin (         |
|                       person_id integer,              |
|                       event_id integer,               |
|                        event_name text,               |
|                         date integer,                 |
|         FOREIGN KEY (person_id) REFERENCES person(id) |
|                             )                         |
+-------------------------------------------------------+


### The rest is up to you!

If you're really comfortable with SQL, you can probably get it from here. To help, here is the schema diagram:

![schema diagram](schema.png)

Use your knowledge of the database schema and SQL commands to find out who committed the murder.
### Check your solution

Did you find the killer? When you think you know the answer, submit your suspect using the following code and find out if you're right.

Find the total number of people

In [7]:
%%sql
SELECT count(*)
FROM person;

Running query in 'sqlite:///sql-murder-mystery.db'

+----------+
| count(*) |
+----------+
|  10011   |
+----------+

In [10]:
%%sql
SELECT * FROM person LIMIT 10;

Running query in 'sqlite:///sql-murder-mystery.db'

+-------+---------------------+------------+----------------+----------------------+-----------+
|   id  |         name        | license_id | address_number | address_street_name  |    ssn    |
+-------+---------------------+------------+----------------+----------------------+-----------+
| 10000 |  Christoper Peteuil |   993845   |      624       |     Bankhall Ave     | 747714076 |
| 10007 | Kourtney Calderwood |   861794   |      2791      |    Gustavus Blvd     | 477972044 |
| 10010 |      Muoi Cary      |   385336   |      741       |   Northwestern Dr    | 828638512 |
| 10016 |     Era Moselle     |   431897   |      1987      |    Wood Glade St     | 614621061 |
| 10025 |     Trena Hornby    |   550890   |      276       |    Daws Hill Way     | 223877684 |
| 10027 |   Antione Godbolt   |   439509   |      2431      |      Zelham Dr       | 491650087 |
| 10034 |      Kyra Buen      |   920494   |      1873      |      Sleigh Dr       | 332497972 |
| 10039 |  Francesco Agundez  |   278151   |      736       |      Buswell Dr      | 861079251 |
| 10095 |     Leslie Thate    |   729987   |      2772      | Camellia Park Circle | 127944356 |
| 10122 |     Alva Conkel     |   779002   |      116       |   Diversey Circle    | 148521773 |
+-------+---------------------+------------+----------------+----------------------+-----------+
Truncated to displaylimit of 10.

Get the top 10 lines of person

In [12]:
%%sql
SELECT * FROM facebook_event_checkin LIMIT 10;

Running query in 'sqlite:///sql-murder-mystery.db'

+-----------+----------+-------------------------------------------------------------------+----------+
| person_id | event_id |                             event_name                            |   date   |
+-----------+----------+-------------------------------------------------------------------+----------+
|   28508   |   5880   |           Nudists are people who wear one-button suits.           | 20170913 |
|           |          |                                                                   |          |
|   63713   |   3865   | but that's because it's the best book on anything for the layman. | 20171009 |
|           |          |                                                                   |          |
|   63713   |   3999   |                   If Murphy's Law can go wrong, it will.          | 20170502 |
|           |          |                                                                   |          |
|   63713   |   6436   |   Old programmers never die.  They just branch to a new address.  | 20170926 |
|           |          |                                                                   |          |
|   82998   |   4470   |                 Help a swallow land at Capistrano.                | 20171022 |
|           |          |                                                                   |          |
|   82998   |   6186   |          Good day to let down old friends who need help.          | 20170921 |
|           |          |                                                                   |          |
|   82998   |   7364   |         Among economists, the real world is often a special case. | 20170320 |
|           |          |                                                                   |          |
|   31811   |   8542   |                                -- Herbert Prochnow                | 20171203 |
|           |          |                                                                   |          |
|   31811   |   4387   |                   The Pig, if I am not mistaken,                  | 20180106 |
|           |          |                                                                   |          |
|   61201   |   9621   |                    responsibility at the other.                   | 20180418 |
|           |          |                                                                   |          |
+-----------+----------+-------------------------------------------------------------------+----------+
Truncated to displaylimit of 10.

In [11]:
%%sql
SELECT DISTINCT type FROM crime_scene_report;

Running query in 'sqlite:///sql-murder-mystery.db'

+-----------+
|    type   |
+-----------+
|  robbery  |
|   murder  |
|   theft   |
|   fraud   |
|   arson   |
|  bribery  |
|  assault  |
| smuggling |
| blackmail |
+-----------+

Find different values of type from crime_scene_report

In [16]:
%%sql
SELECT * FROM crime_scene_report 
WHERE type = 'murder' 
AND city = 'SQL City'
AND date = 20180115;

Running query in 'sqlite:///sql-murder-mystery.db'

+----------+--------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------+
|   date   |  type  |                                                                                        description                                                                                        |   city   |
+----------+--------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------+
| 20180115 | murder | Security footage shows that there were 2 witnesses. The first witness lives at the last house on "Northwestern Dr". The second witness, named Annabel, lives somewhere on "Franklin Ave". | SQL City |
+----------+--------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------+

Find out what murder occured on 1/15/18

In [17]:
%%sql
SELECT * FROM person 
WHERE address_street_name = 'Northwestern Dr' 
ORDER BY address_number DESC LIMIT 1;

Running query in 'sqlite:///sql-murder-mystery.db'

+-------+----------------+------------+----------------+---------------------+-----------+
|   id  |      name      | license_id | address_number | address_street_name |    ssn    |
+-------+----------------+------------+----------------+---------------------+-----------+
| 14887 | Morty Schapiro |   118009   |      4919      |   Northwestern Dr   | 111564949 |
+-------+----------------+------------+----------------+---------------------+-----------+

Find out the name of the witness who lives on Northwestern Dr

In [20]:
%%sql
SELECT * FROM person
WHERE address_street_name = 'Franklin Ave'
AND name like '%Annabel%';

Running query in 'sqlite:///sql-murder-mystery.db'

+-------+----------------+------------+----------------+---------------------+-----------+
|   id  |      name      | license_id | address_number | address_street_name |    ssn    |
+-------+----------------+------------+----------------+---------------------+-----------+
| 16371 | Annabel Miller |   490173   |      103       |     Franklin Ave    | 318771143 |
+-------+----------------+------------+----------------+---------------------+-----------+

Find out the name of the witness who lives on Franklin Ave

In [21]:
%%sql
SELECT person.name, interview.transcript
FROM person JOIN interview
ON person.id = interview.person_id
WHERE person.id = 14887 OR person.id = 16371;

Running query in 'sqlite:///sql-murder-mystery.db'

+----------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|      name      |                                                                                                            transcript                                                                                                           |
+----------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| Morty Schapiro | I heard a gunshot and then saw a man run out. He had a "Get Fit Now Gym" bag. The membership number on the bag started with "48Z". Only gold members have those bags. The man got into a car with a plate that included "H42W". |
| Annabel Miller |                                                      I saw the murder happen, and I recognized the killer from my gym when I was working out last week on January the 9th.                                                      |
+----------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

Get the witness' interview statements to get more clues

In [27]:
%%sql
SELECT * FROM get_fit_now_member
WHERE name like '%Annabel%';

Running query in 'sqlite:///sql-murder-mystery.db'

+-------+-----------+----------------+-----------------------+-------------------+
|   id  | person_id |      name      | membership_start_date | membership_status |
+-------+-----------+----------------+-----------------------+-------------------+
| 90081 |   16371   | Annabel Miller |        20160208       |        gold       |
+-------+-----------+----------------+-----------------------+-------------------+

Get Annabel's id so we can figure out what time she went to the gym

In [29]:
%%sql
SELECT * FROM get_fit_now_check_in
WHERE check_in_date = 20180109
AND membership_id = 90081;

Running query in 'sqlite:///sql-murder-mystery.db'

+---------------+---------------+---------------+----------------+
| membership_id | check_in_date | check_in_time | check_out_time |
+---------------+---------------+---------------+----------------+
|     90081     |    20180109   |      1600     |      1700      |
+---------------+---------------+---------------+----------------+

Got the time

In [24]:
%%sql
SELECT * FROM get_fit_now_check_in
WHERE check_in_date = 20180109
AND membership_id like '%48Z%';

Running query in 'sqlite:///sql-murder-mystery.db'

+---------------+---------------+---------------+----------------+
| membership_id | check_in_date | check_in_time | check_out_time |
+---------------+---------------+---------------+----------------+
|     48Z7A     |    20180109   |      1600     |      1730      |
|     48Z55     |    20180109   |      1530     |      1700      |
+---------------+---------------+---------------+----------------+

Both members with the 48Z ID that came in on 1/9/18 came around the same time as Annabel so either person could be the main suspect. We should check which one of the members has a gold status membership next

In [30]:
%%sql
SELECT * FROM get_fit_now_member
WHERE id like '%48Z%';

Running query in 'sqlite:///sql-murder-mystery.db'

+-------+-----------+---------------+-----------------------+-------------------+
|   id  | person_id |      name     | membership_start_date | membership_status |
+-------+-----------+---------------+-----------------------+-------------------+
| 48Z38 |   49550   | Tomas Baisley |        20170203       |       silver      |
| 48Z7A |   28819   |  Joe Germuska |        20160305       |        gold       |
| 48Z55 |   67318   | Jeremy Bowers |        20160101       |        gold       |
+-------+-----------+---------------+-----------------------+-------------------+

Unfortunately both members with id: 48Z55 and 48Z7A have gold membership so we still don't know which one of them is the murderer. Let's try to do the license plate thing instead.

In [33]:
%sql
SELECT * FROM drivers_license 
WHERE plate_number like '%H42W%';

SyntaxError: invalid syntax (655963111.py, line 2)

In [35]:
%%sql
SELECT * FROM drivers_license WHERE plate_number like '%H42W%';

Running query in 'sqlite:///sql-murder-mystery.db'

+--------+-----+--------+-----------+------------+--------+--------------+-----------+-----------+
|   id   | age | height | eye_color | hair_color | gender | plate_number |  car_make | car_model |
+--------+-----+--------+-----------+------------+--------+--------------+-----------+-----------+
| 183779 |  21 |   65   |    blue   |   blonde   | female |    H42W0X    |   Toyota  |   Prius   |
| 423327 |  30 |   70   |   brown   |   brown    |  male  |    0H42W2    | Chevrolet |  Spark LS |
| 664760 |  21 |   71   |   black   |   black    |  male  |    4H42WR    |   Nissan  |   Altima  |
+--------+-----+--------+-----------+------------+--------+--------------+-----------+-----------+

In [ ]:
%%sql
SELECT person.name FROM person JOIN drivers_license
ON person.license_id = drivers_license.id
WHERE drivers_license.plate_number like '%H42W%';

Running query in 'sqlite:///sql-murder-mystery.db'

+----------------+
|      name      |
+----------------+
| Tushar Chandra |
| Jeremy Bowers  |
| Maxine Whitely |
+----------------+

In [43]:
%%sql

SELECT get_fit_now_member.name FROM get_fit_now_member WHERE get_fit_now_member.id LIKE '%48Z%'
AND get_fit_now_member.name IN (
    SELECT person.name FROM person JOIN drivers_license
    ON person.license_id = drivers_license.id
    WHERE drivers_license.plate_number LIKE '%H42W%'
    );

Running query in 'sqlite:///sql-murder-mystery.db'

+---------------+
|      name     |
+---------------+
| Jeremy Bowers |
+---------------+

In [44]:
%%sql
INSERT INTO solution VALUES (1, 'Jeremy Bowers');
SELECT value FROM solution;

Running query in 'sqlite:///sql-murder-mystery.db'

1 rows affected.

+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                                                                                                                                               value                                                                                                                                                                                                |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| Congrats, you found the murderer! But wait, there's more... If you think you're up for a challenge, try querying the interview transcript of the murderer to find the real villain behind this crime. If you feel especially confident in your SQL skills, try to complete this final step with no more than 2 queries. Use this same INSERT statement with your new suspect to check your answer. |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+